{% if config.extra.blog_section_path is defined %}
{% set blog_section_path = config.extra.blog_section_path %}
{% endif %}
<footer>
  <div class="right">
    {% if blog_section_path is defined and section.path is starting_with(blog_section_path) %}
    {% if section.generate_feeds %}
      {% set_global rss_path = blog_section_path ~ "/" ~ config.feed_filenames.0 %}
    {% elif config.generate_feeds %}
      {% set_global rss_path = "/" ~ config.feed_filenames.0 %}
    {% endif %}
    {% if section.generate_feeds or config.generate_feeds %}
    <a id="rss-btn" href="/{{ rss_path }}">RSS</a>
    {% endif %}
    {% endif %}


  </div>
</footer>

{% if blog_section_path is defined and section.path is starting_with(blog_section_path) %}
{% if section.generate_feeds or config.generate_feeds %}
{% set link = "/" ~ rss_path %}
<dialog id="rss-mask">
  <div>
    <a href="{{ link }}">{{ link }}</a>
    {% set copy_icon = load_data(path="icon/copy.svg") %}
    {% set check_icon = load_data(path="icon/check.svg") %}
    <button autofocus aria-label="copy" data-link="{{ link }}" data-copy-icon="{{ copy_icon }}" data-check-icon="{{ check_icon }}" >
      {{ copy_icon | safe }}
    </button>
  </div>
</dialog>
{% endif %}
{% endif %}
